<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>textutils</title>
</head>
<body>
    <h2 style = 'text-align: center;'>Welcome to the text analyzer !</h2>
    <p><b>Enter your text below..</b></p>
<form action="/removepunc",method="'get">
    <textarea name="text" style="width: 1146px; height: 241px;"></textarea><br>
<!--  <input type="checkbox" name="remove">Remove punctuation<br>-->
<!--    <button type="submit">removepunc</button>-->
</form>
</body>
</html>